body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: 0 20px;
}

header section {
  max-width: 80%;
  float: left;
  padding: 0 0 .2em 1em;
}

select {
  width: 90%;
  margin: .2em 5%;
}

img {
  max-width: 100%;
}

hr {
  margin: 1em;
  width: 80%;
}

/* === FLOATING AND CLEARFIX === */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* === MEDIA QUERY === */

@media only screen and (min-width: 640px) {
  header section {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    display: inline;
  }
}

body > header {
  background: #FFEAAA;
}

nav {
  padding: 0.1em;
}

nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

nav:hover ul {
  display: block;
}

nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

/* === ARTICLE FORMATTING === */

address {
  color: #777;
  display: inline-block;
}

address a {
  font-weight: bold;
  text-decoration: none;
}

/* === TEXT STYLES === */

p {
  font-size: 1em;
}

/* === LINK STYLES === */

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

/* === ICON FONT === */

.icon-menu {
  font-size: 3em;
  float: right;
}

/* === FILTER STYLES === */

#filters {
  padding: 0;
  list-style: none;
}

/* === MEDIA QUERY === */

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav {
    padding: .2em .2em .2em 2em;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506D;
  }
}